.action-golf__text-box {
  width: 43%;
  align-items: flex-end;
}

.action-golf__image-box {
  width: 57.5%;
}

.action-golf__image-box > .action-golf__mobile {
  position: absolute;
  top: -148px;
  left: 40px;
}

.action-golf__image-box > .action-golf__app-icon {
  position: absolute;
  top: -188px;
  left: 242px;
}

.up-on-scroll__x-left,
.up-on-scroll__y-right {
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 1s;
}
.up-on-scroll__x-left.action-golf__title,
.up-on-scroll__y-right.action-golf__mobile {
  transition-duration: 1.3s;
}

.up-on-scroll__x-left.action-golf__description,
.up-on-scroll__y-right.action-golf__app-icon {
  transition-duration: 1.6s;
}
