@import url('https://fonts..com/css2?family=Poppins:wght@500&display=swap');

.main__business {
  height: 461.2px;
  width: 100%;
}

.business__image-box {
  position: relative;
  height: 461.2px;
  width: 100%;
}

.business__text-box-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 461.2px;
  width: 100%;
}

.business__text-box-container {
  height: 461.2px;
  width: 100%;
  padding: 65px 10px;
}

.business__text-box-container .business__title {
  color: white;
  font-size: 42px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin: 0px;
}

.business__text-box-container .business__wordmark {
  width: 110px;
  margin: 0px 0px 10px;
}

.business__text-box-container .business__symbol {
  margin: 50px 0px 10px;
  height: 37px;
}
