.edu-block__text-box {
  width: 45%;
  align-items: flex-end;
}

.edu-block__image-box {
  width: 48%;
}

.edu-block__image-box > .edu-block__card {
  position: absolute;
  top: -315px;
  left: 130px;
}
