.purple-card__text-box {
  width: 45%;
  align-items: flex-end;
  margin: -55px 0px 0px -100px;
}

.purple-card__image-box {
  width: 55%;
}

.purple-card__image-box > .purple-card__card {
  position: absolute;
  top: 25px;
  left: 122px;
}

.purple-card__image-box > .purple-card__mobile {
  position: absolute;
  top: -144px;
  left: 400px;
}

.up-on-scroll__x-left,
.up-on-scroll__y-right {
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 1s;
}

.up-on-scroll__x-left.purple-card__title,
.up-on-scroll__y-right.purple-card__mobile {
  transition-duration: 1.3s;
}

.up-on-scroll__x-left.purple-card__description {
  transition-duration: 1.6s;
}
