@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;&display=swap");

.App-footer {
  height: 256.58px;
  width: 100%;
  background-color: #0a2e67;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  letter-spacing: 0.15px;
  padding: 50px 10px 30px;
}

.App-footer img {
  height: 31.58px;
}

.footer__welcome {
  margin: 10px 0 30px;
  font-weight: bolder;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}
