.App-header {
  background-color: rgba(0, 0, 0, 0.404);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.App-header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  font-size: 14px;
}

.navigation .navigation__logo img {
  max-width: 119px;
}

.navigation .navigation__business,
.navigation .navigation__banco {
  width: 70px;
}

.navigation__business a,
.navigation__banco a {
  color: white;
  letter-spacing: 0.025em;
}

.navigation__business a:hover,
.navigation__banco a:hover {
  /* color: rgb(122, 65, 255); */
  color: white;
}
