.App-header {
  background-color: rgba(0, 0, 0, 0.404);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  z-index: 10;
}
.App-header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  font-size: 14px;
}

.navigation .navigation__logo img {
  max-width: 119px;
}
