@import "~antd/dist/antd.css";

.App-main {
  background-color: burlywood;
}

.App-main > div {
}

.App-main > div:nth-child(even) {
  background-color: white;
}

.App-main > div:nth-child(odd) {
  background-color: #f5f5f5;
}
