@import '~antd/dist/antd.css';

.App-main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 740px;
  width: 100%;
  padding-bottom: 10px;
}

.App-main > div:nth-child(odd) {
  background-color: white;
}

.App-main > div:nth-child(even) {
  background-color: #f5f5f5;
}

/* .App-main *[class^='up-on-scroll'] {
  transition: transform 1.3s cubic-bezier(0, 0, 0.1, 1.4), opacity 1.5s;
} */

.up-on-scroll__x-left,
.up-on-scroll__y-right {
  transition: transform 0.7s, opacity 1s;
}
