@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px/1.5 'Noto Sans KR', sans-serif;
  color: #3b3b3b;
  overflow-x: hidden;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  line-height: 150%;
  background: transparent;
}

a,
a:hover {
  color: white;
}

/* μ¤λ§νΈν° */
@media only screen and (min-device-width: 320px) and (max-device-width: 500px) and (orientation: portrait) {
}
